# Ignore compiled Python files
__pycache__/
*.swp


# Ignore training outputs and data
training/output/
extracted_euler_filter_data_files/

# File types to ignore
*.npy
*.pkl
*.png
*.pdf

# Ignore post-processing output
post-processing/outdir_*/

# Optional: ignore all hidden swap and temp files
*~

# Ignore some files
training/process_features.py
